.phoneNumberInputChild {
  object-fit: contain;
}
.phoneNumberInputChild,
.phoneNumberInputItem {
  height: 37px;
  width: 37px;
  position: relative;
  min-height: 37px;
}
.group,
.phoneNumberInput {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.phoneNumberInput {
  display: flex;
  flex: 1;
  justify-content: end;
  width: 190px;
  gap: 10px 70px;
  margin-bottom: 45px;
  /* justify-content: space-between; */
}
.group {
  justify-content: flex-start;
  padding: 0 var(--padding-60xl);
  box-sizing: border-box;
}
.btnViewMore
{
  background: #fff!important;
  text-transform: uppercase;
  font-weight: 700!important;
  font-family: var(--font-pilat-wide)!important;
  font-size: 14px!important;
  padding: 10px!important;
  border: none!important;
}
.titleprimaryleftIcon {
  position: absolute;
  
  width: 90%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.maskGroupIcon {
  position: absolute;
  top: 110px;
  left: 36px;
  object-fit: cover;
  z-index: 1;
  width: 78%;
}
@media screen and (max-width: 1398px) {
  
  .maskGroupIcon {
    position: absolute;
    top: 102px;
    left: 26px;
    object-fit: cover;
    z-index: 1;
    width: 75%;
  }
}
@media screen and (max-width: 1250px) {
  .maskGroupIcon {
    position: absolute;
    top: 102px;
    left: 26px;
    object-fit: cover;
    z-index: 1;
    width: 75%;
  }

}
.submitBtn {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nameInput {
  height: 810px;
  flex: 1;
  position: relative;
  min-width: 413px;
  max-width: 100%;
}
.vectorIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.maskGroupIcon1 {
  position: absolute;
  top: 109px;
    left: 34px;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
  
}
.vectorParent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nameInput1 {
  height: 810px;
  flex: 1;
  position: relative;
  min-width: 413px;
  max-width: 100%;
}
.callToAction,
.line {
  /* display: flex; */
  justify-content: flex-start;
  max-width: 100%;
}
.line {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0 72px;
}
.callToAction {
  width: 1344px;
  flex-direction: column;
  align-items: flex-end;
  gap: 70px 0;
}
.callToActionWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 88px 165px;
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -15%;
}

@media screen and (max-width: 1250px) {
  .callToActionWrapper {
    padding-bottom: var(--padding-163xl);
    box-sizing: border-box;
  }
}
.mobileShow
  {
    display: none!important;
  }
@media screen and (max-width:1020px) {
  .titleprimaryleftIcon
  {
    width: 85%;
  }
  .maskGroupIcon
  {
    position: absolute;
        top: 82px;
        left: 26px;
        -o-object-fit: cover;
        object-fit: cover;
        z-index: 1;
        width: 75%;
    
  }
  .mobileShowHide
  {
    display: none!important;
  }
  .mobileShow
  {
    display: block!important;
  } 
}
@media screen and (max-width: 750px) {
  .nameInput,
  .nameInput1 {
    min-width: 100%;
  }
  .line {
    gap: 0 36px;
  }
  .callToAction {
    gap: 35px 0;
  }
  .callToActionWrapper {
    padding-bottom: var(--padding-99xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 580px) {
  .group {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .line {
    gap: 0 18px;
  }
  .callToAction {
    gap: 17px 0;
  }
  .callToActionWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 0;
    box-sizing: border-box;
    max-width: 100%;
    margin-top: -15%;
  }

  .maskGroupIcon {
    position: absolute;
    top: 53px;
    left: 17px;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
    width: 74%;
}

}

@media screen and (max-width: 1398px) {
  .nameInput {
    height: 700px!important;
  }

}


@media screen and (max-width: 1250px) {
  .nameInput {
    height: 630px!important;
  }

}
@media screen and (max-width:580px)
{
  .nameInput
{
  height: 430px!important;
}
}