.frameChild {
    /* height: 130px; */
    width: 1444px;
    position: relative;
    background-color: var(--black);
    display: none;
    max-width: 100%;
  }
  .logoTransparentForBlackBg {
    /* height: 95px; */
    width: 106px;
    position: relative;
    object-fit: cover;
    display: none;
    /* min-height: 95px; */
  }
  .image1Icon {
    /* height: 96px; */
    width: 108px;
    position: relative;
    object-fit: cover;
    z-index: 1;
  }
  .aboutUs1,
  .aboutUs2,
  .home {
    position: relative;
    text-transform: uppercase;
    font-weight: 800;

  }
  a{
    text-decoration: none!important;
    color: white!important;
  }
  .home {
    /* line-height: 11px; */
    /* color: var(--green); */
    z-index: 1;
    text-decoration: none;
  }
  .greenMenu
  {
    color:var(--green);
  }
  .aboutUs1,
  .aboutUs2 {
    /* height: 11px; */
    /*  */
    display: inline-block;
    white-space: nowrap;
  }
  .aboutUs2 {
    margin-bottom: -10px;
    width: 102px;
    color: var(--green);
    opacity: 0;
  }
  .aboutUs {
    /* height: 17px; */
    width: 110px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 0;
    box-sizing: border-box;
    gap: 2px 0;
    z-index: 1;
  }
  .services1,
  .services2 {
    /* height: 11px; */
    position: relative;
    
    text-transform: uppercase;
    font-weight: 800;
    display: inline-block;
  }
  .services2 {
    margin-top: -10px;
    margin-bottom: -10px;
    width: 101px;
    color: var(--green);
    opacity: 0;
  }
  .services {
    /* height: 17px; */
    width: 109px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 0;
    box-sizing: border-box;
    gap: 2px 0;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .training1,
  .training2 {
    /* height: 11px; */
    position: relative;
    
    text-transform: uppercase;
    font-weight: 800;
    display: inline-block;
  }
  .training2 {
    margin-top: -10px;
    margin-bottom: -10px;
    width: 99px;
    color: var(--green);
    opacity: 0;
  }
  .training {
    /* height: 17px; */
    width: 107px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 0;
    box-sizing: border-box;
    gap: 2px 0;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .reviews1,
  .reviews2 {
    /* height: 11px; */
    position: relative;
    
    text-transform: uppercase;
    font-weight: 800;
    white-space: pre-wrap;
    display: inline-block;
    flex-shrink: 0;
  }
  .reviews2 {
    margin-bottom: -10px;
    width: 93px;
    color: var(--green);
    opacity: 0;
  }
  .buttonFrame,
  .reviews {
    display: flex;
    box-sizing: border-box;
  }
  .reviews {
    /* height: 17px; */
    width: 100px;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 0;
    gap: 2px 0;
    z-index: 1;
  }
  .buttonFrame {
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-xl) 0;
    min-width: 447px;
    max-width: 100%;
    gap: var(--gap-xl);
  }
  .imageFrame {
    /* height: 100%; */
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--white);
  }
  .menuChild {
    /* height: 24px; */
    width: 24px;
    position: relative;
    z-index: 1;
  }
  .close,
  .menu1 {
    position: relative;
    /* line-height: 11px; */
    text-transform: uppercase;
    font-weight: 800;
  }
  .menu1
  {
    color: #000;
  }
  .greenMenuButton
  {
    color:#000;
    background-color: var(--green);
  }
  .close {
    align-self: stretch;
    width: 67px;
    
    display: inline-block;
  }
  .reviewsAcademyTrainingAbout {
    /* height: 16px; */
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 0 15px;
    box-sizing: border-box;
    gap: 0 9px;
    z-index: 1;
  }
  .reviewsAcademyTrainingAboutButton {
    /* height: 16px; */
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 0 15px;
    box-sizing: border-box;
    gap: 0 9px;
    z-index: 1;
    background-color: var(--green);
  }
  .menu,
  .rectangleParent,
  .textInputField {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu {
    width: 143px;
    overflow: hidden;
    flex-shrink: 0;
    justify-content:center;

    box-sizing: border-box;
    position: relative;

    z-index: 1;
    text-align: left;
    color: var(--a18);
    background-color: white;
    
  }
  .menu:hover {
    width: 143px;
    overflow: hidden;
    flex-shrink: 0;
    justify-content:center;

    box-sizing: border-box;
    position: relative;

    z-index: 1;
    text-align: left;
    color: var(--a18);
    background-color: var(--green);
    
  }
  
  .menuButton
  {
    width: 143px;
    overflow: hidden;
    flex-shrink: 0;
    justify-content:center;

    box-sizing: border-box;
    position: relative;

    z-index: 1;
    text-align: left;
    color: var(--a18);
    background-color: var(--green);
  }
  .rectangleParent,
  .textInputField {
    max-width: 100%;
  }
  .textInputField {
    width: 900px;
    justify-content: flex-start;
    gap: 0 69px;
  }
  .rectangleParent {
    /* margin-left: 58px; */
    align-self: stretch;
    background-color: var(--black);
    justify-content: space-between;
    padding: 22px 68px 23px 68px;
    box-sizing: border-box;
    gap: var(--gap-xl);
    z-index: 1;
    text-align: right;
    font-size: var(--font-size-base);
    color: var(--white);
    font-family: var(--font-pilat-wide);
  }
  @media screen and (max-width: 1100px) {
    .textInputField {
      gap: 0 34px;
    }
    .rectangleParent {
      flex-wrap: wrap;
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  .frameChild
{
  display: wrap;
}
  @media screen and (max-width: 950px) {
.rectangleParent
{
  display: none;
}
.topnav
{
  display:flex!important;
  align-self: stretch;
    background-color: var(--black);
    justify-content: space-between;
    padding: 0px 43px 0px 43px;
    box-sizing: border-box;
    gap: var(--gap-xl);
    z-index: 1;
    text-align: right;
    font-size: var(--font-size-base);
    color: var(--white);
    font-family: var(--font-pilat-wide);
}
  }
  @media screen and (max-width: 750px) {
    .buttonFrame {
      min-width: 100%;
    }
    .buttonFrame,
    .textInputField {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 450px) {
    .textInputField {
      gap: 0 17px;
    }
  }
  .hover:hover{
     color: var(--green)
  }
  .hoverButton:hover{
     color: var(--black);
     /* background-color: var(--green); */
  }

  
  /* Add this CSS to show the Training menu when the submenu is hovered over */

/* Add this CSS to adjust the position of the submenu */
.subMenu {
  display: block;
  position: absolute;
  top: 80%; /* Position the submenu below the Training menu */
  left: 52%;
  background: linear-gradient(106.74deg, #2d3344, #050a18), #d9d9d9; /* Adjust background color as needed */
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
  z-index: 111;
  width: 25%;
  padding-left: 14px;
  border: 1px solid #ffffff83;
  
}

.subInsubMenu {
  display: block;
  position: absolute;
  top: 67%;
  left: 93%;
  background: linear-gradient(106.74deg, #2d3344, #050a18), #d9d9d9; /* Adjust background color as needed */
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
  z-index: 1;
  width: 60%;
  padding-left: 14px;
  border: 1px solid #ffffff83;
  
}

.textInputField {
  position: relative; /* Set the position of the main class to relative */
}

/* Adjust the position of other elements relative to the main class as needed */
.buttonFrame {
  position: relative; /* Example: Set the position of the button frame relative to the main class */
}

.subMenuItem
{
  font-size: 15px;
  text-align: start;
  padding-top: 7px;
  padding-bottom: 15px;
  font-family: var(--font-pilat-wide);
  font-weight: 700;
  text-transform: uppercase;
}


.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #000;
  position: relative;
  display: none;
  width: 100%;
  align-items: center;
}

.myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.topnav a:hover {
  /* background-color: #ddd; */
  color: black;
}

.active {
  /* background-color: #04AA6D; */
  color: white;
}
.menuAnimation
{
  transition: transform 0.5s ease; /* Animation transition property */
  transform: translateY(-100%); /* Initially hide the menu above */
}

.show {
  display: grid;
  width: 100%;
  padding-left: 8%;
  background-color: #000;
  padding-bottom: 40px;
  font-size: 21px;
  transform:translateY(-0%); 

}


.show a {
  padding-top: 20px;
}

