.certification
{
  /* background: url('../../../public/about/costly.png'); */
  /* background-size: cover; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 38px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 40px;
  
}

.data_box {
  font-size: 12px;
  
  /* text-transform: uppercase; */
  font-weight: 800;
  font-family: inherit;
  z-index: 1;
  text-align: left;
  /* margin-left: auto; */
  /* margin-right: auto; */
}
.span_disc
{
  /* margin-top: 30px; */
  padding-left: 70px;
  padding-right: 80px;
  padding-top: 20px;
}
.p_tags
{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  margin-top: 30px;
  padding-top: 20px;
}
.p_tags_certificate
{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  /* margin-top: 30px; */
  padding-top: 20px;
}

.whatRelationsAreContainer {
  height: 118px;
  position: absolute;
  margin: 0 !important;
  bottom: -58.8px;
  left: 64px;
  
  display: inline-block;
  z-index: 1;
  font-size: var(--font-size-76xl);
  color: var(--white);
}
.contentBoxes,
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  flex: 1;
  position: relative;
  max-width: 100%;
}
.contentBoxes {
  /* width: 1495px; */
  padding: 30px 0 140px;
  box-sizing: border-box;
  max-width: 104%;
  flex-shrink: 0;
  text-align: left;
  font-size: 253.6px;
  color: rgba(255, 255, 255, 0.03);
  font-family: var(--font-pilat-wide);
}
.ourRelations,
.workAt {
  margin: 0;
}
.workAt {
  font-size: var(--font-size-15xl);
  color: var(--green);
}
.ourRelationsWorkContainer {
  align-self: stretch;
  position: relative;
  /*/*line-height: 53px;*/
  text-transform: uppercase;
}
.servicesFrame {
  width: 1352px;
  height: 262px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 147px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-76xl);
  color: var(--white);
  font-family: var(--font-pilat-wide);
}
.infosysLogo1Icon {
  position: absolute;
  top: 38.8px;
  left: calc(50% - 63.2px);
  width: 126.4px;
  height: 50.6px;
  object-fit: cover;
  display: none;
}
.certificateWidth
{
  width: 100%;
}
.certificateWidthMain
{
  width: 96%;
}
@media screen and (max-width: 1398px) {
  .contentBoxes
  {
    font-size: 230px;
  }
}
@media screen and (max-width: 1250px) {
  .contentBoxes
  {
    font-size: 200px!important;
  }

  .frameText {
    padding-bottom: 211px;
    box-sizing: border-box;
  }
  .academicPartners {
    flex-wrap: wrap;
  }
  .reviewsAcademyGroup {
    padding-bottom: var(--padding-58xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .rectangleB {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(312px, 541px));
  }
  .academicPartners {
    padding-bottom: 83px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .ourServices {
    font-size: var(--font-size-28xl);
    /*/*line-height: 53px;*/
  }
  .areTailored {
    font-size: var(--font-size-8xl);
    /*/*line-height: 53px;*/
  }
  .rectangleB {
    padding-bottom: var(--padding-176xl);
    box-sizing: border-box;
    grid-template-columns: minmax(312px, 1fr);
  }
  .howAre {
    font-size: var(--font-size-28xl);
    /*/*line-height: 53px;*/
  }
  .frameImage {
    gap: 20px 0;
  }
  .frameText {
    padding-bottom: 137px;
    box-sizing: border-box;
  }
  .learner {
    font-size: 101px;
    /*/*line-height: 53px;*/
  }
  .ourRelationsWorkContainer,
  .whatRelationsAreContainer {
    font-size: var(--font-size-8xl);
    /*/*line-height: 53px;*/
  }
  .ourRelationsWorkContainer {
    /*/*line-height: 53px;*/
  }
  .contactUsGroup {
    gap: 91px 15px;
  }
  .academicPartners {
    padding-bottom: 54px;
    box-sizing: border-box;
  }
  .reviewsAcademyGroup {
    gap: 28px 0;
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .ourServices {
    font-size: var(--font-size-9xl);
    /*/*line-height: 53px;*/
  }
  .areTailored {
    font-size: var(--font-size-xl);
    /*/*line-height: 53px;*/
  }
  .frameG {
    gap: 20px 0;
  }
  .howAre {
    font-size: var(--font-size-9xl);
    /*/*line-height: 53px;*/
  }
  .learner {
    font-size: 63px;
    /*/*line-height: 53px;*/
  }
  .ourRelationsWorkContainer,
  .whatRelationsAreContainer {
    font-size: var(--font-size-xl);
    /*/*line-height: 53px;*/
  }
  .ourRelationsWorkContainer {
    /*/*line-height: 53px;*/
  }
  .contactUsGroup {
    padding-bottom: 157px;
    box-sizing: border-box;
  }
}


.contactUs {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 11px;
  text-transform: uppercase;
  font-family: var(--font-pilat-wide);
  color: var(--a18);
  text-align: left;
}
.amChild {
  height: 24.5px;
  width: 24.5px;
  position: relative;
}
.am {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-sm) var(--padding-mid)
    var(--padding-mini);
  background-color: var(--white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 19px;
  top: 40px;
  z-index: 99;
  position:relative;
  white-space: nowrap;
  /* margin-top: 30px; */
}
.am:hover,
.column:hover {
  background-color: var(--color-gainsboro);
}

.flex_row {
  display: inline-block;
  flex-direction: row;
  margin-top: 7px;
}

.BcadLabs
{
  font-size: 88px;
  color: var(--white);
  text-align: left;
  font-family: "Pilat Wide";
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.SetupIn
{
  font-size: 32px;
  color: var(--green);
  text-transform: uppercase;
  font-weight: bolder;
}
.paddingView
{
  padding-left: 70px;
    padding-right: 80px;
    padding-top: 20px;
}
.title_flex_tools
{
  
  font-size: 16px;
  padding-top: 4px;
  color: #000;
  font-family: var(--font-montserrat);;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 22px;
  padding-right: 22px;
}

.details_title {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #10FF7C;
  font-size: 18px;
  font-weight: 600;
}
.check_sign {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.flex_row {
  display: inline-block;
  flex-direction: row;
  margin-top: 30px;
}

.float_img {
  float: left;
  margin-top: 2px;
  margin-right: 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
[class^="col-"] {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-2 {
  
}
.col-2:not(:last-child) {
  margin-right: 15px;
}
